<h2>Prazos</h2>

<table class="w-full text-left border-collapse mt-4 shadow-lg rounded-lg overflow-hidden font-sans">

    <thead>
        <tr>
            <th class="p-4 border-b border-slate-700">Título</th>
            <th class="p-4 border-b border-slate-700">Processo</th>
            <th class="p-4 border-b border-slate-700">Prazo Final</th>
            <th class="p-4 border-b border-slate-700">Prioridade</th>
        </tr>
    </thead>
    <tbody>
        @for (assignment of assignments; track assignment.id) {
        <tr class="hover:bg-slate-50 border-b border-slate-200">
            <td class="p-4">{{ assignment.title }}</td>
            <td class="p-4">{{ assignment.lawsuitNumber}}</td>
            <td class="p-4">{{ assignment.deadline}}</td>
            <td class="p-4">{{ assignment.priority}}</td>
        </tr>
        }
    </tbody>
</table>